#Carousel {
    display: flex;
    justify-content: center;
    height: 360px;
    object-fit: cover;

}
#Carousel > * {
    position: relative;
    width: 640px;
    height: auto;
    overflow: hidden;
}
#Title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#Description {
    display: flex;
    justify-content: center;
}
#Description > * {
    width: 35em;
    text-align: center;
}
/* .carousel-item > img {
} */

.photo-input-div {
    display: flex;
    justify-content: space-between;
}
.photo-input-div input, .photo-input-div select {
    max-width: 70%;
}
.photo-input-div button, .photo-input-div button {
    width: 28%;
}

#delete {
    margin-left: .5em;
}
#Message-Provider {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Message {
    width: 30%;
    margin-bottom: 1em;
}